.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-primary);
}

.home-title {
  font-size: 5rem;
  color: var(--color-quaternary);
  text-shadow: 2px 2px 4px var(--color-primary);
}
