.App {
  display: flex;
  font-family: sans-serif;
}

.sidebar {
  width: 250px;
  background-color: var(--color-primary);
  color: var(--color-quaternary);
  height: 100vh;
  padding: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li a {
  display: block;
  padding: 10px;
  color: var(--color-quaternary);
  text-decoration: none;
  border-radius: 5px;
}

.sidebar li a:hover {
  background-color: var(--color-secondary);
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: var(--color-quaternary);
}
