.App {
  display: flex;
  font-family: sans-serif;
}

.sidebar {
  width: 250px;
  background-color: var(--color-primary);
  color: var(--color-quaternary);
  height: 100vh;
  padding: 20px;
  position: relative;
  transition: width 0.3s ease;
  flex-shrink: 0; /* Prevent sidebar from shrinking */
}

.App.sidebar-collapsed .sidebar {
  width: 80px;
}

.App.sidebar-collapsed .logo-container {
  justify-content: center;
}

.App.sidebar-collapsed .logo {
  margin-right: 0;
}

.App.sidebar-collapsed .logo-text {
  display: none;
}

.App.sidebar-collapsed .sidebar li a span {
  display: none;
}

.App.sidebar-collapsed .sidebar li a {
  justify-content: center;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  transition: margin 0.3s ease;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  white-space: nowrap;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li a {
  display: flex;
  align-items: center;
  padding: 10px;
  color: var(--color-quaternary);
  text-decoration: none;
  border-radius: 5px;
}

.sidebar li a:hover {
  background-color: var(--color-secondary);
}

.sidebar li a span {
  white-space: nowrap;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: var(--color-quaternary);
  overflow-y: auto;
}

.sidebar-toggle {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-secondary);
  color: var(--color-quaternary);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  transition: transform 0.3s ease;
}

.App.sidebar-collapsed .sidebar-toggle {
  transform: translateX(-50%) rotate(180deg);
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.home-title {
  font-size: 5rem;
  font-weight: bold;
  color: var(--color-primary); /* Dark color for light background */
  text-shadow: 1px 1px 3px var(--color-tertiary); /* Subtle shadow */
  margin: 0;
}

.home-description {
  font-size: 1.25rem;
  color: var(--color-secondary);
  max-width: 600px;
  margin-top: 1.5rem;
  line-height: 1.6;
}
